<h1>餐廳後台</h1>

<a href='/admin/restaurants'>
  <button type="button" class="btn btn-primary">Manage Restaurants</button>
</a>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      {{#if_admin this.isAdmin 1}}
      <td>admin</td>
      {{/if_admin}}
      {{#if_admin this.isAdmin 0}}
      <td>user</td>
      {{/if_admin}}
      {{#if_admin this.isAdmin 1}}
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" enctype="multipart/form-data"
          style="display: inline;">
          <button type="submit" class="btn btn-link">
            set as user
          </button>
        </form>
      </td>
      {{/if_admin}}
      {{#if_admin this.isAdmin 0}}
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" enctype="multipart/form-data"
          style="display: inline;">
          <button type="submit" class="btn btn-link">
            set as admin
          </button>
        </form>
      </td>
      {{/if_admin}}
    </tr>
    {{/each}}
  </tbody>
</table>